<%= form_for @poll, :url => {:action => 'submit'} do |f| %>
  <h1>Voting on <%= @poll.title %> </h1>

  <% @poll.poll.each do |key, value| %>
  <input type="radio" name="option" value="<%= key %>"><%= value[0] %></input><br>
  <% end %>

  <p>
    <%= f.submit %>
  </p>
<% end %>
