<div class="jumbotron center">
  <h2>Voting on <%= @poll.title %> </h2>
</div>

<%= form_for @poll, :url => {:action => 'submit'} do |f| %>
  <div class="form-group">
    <legend>Options</legend>
    <% @poll.poll.each do |key, value| %>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="option" id="optionsRadios<%= key %>" value="<%= key %>">
          <%= value[0] %>
        </label>
      </div>
    <% end %>
  </div>

  <%= f.submit "Cast Vote", :class => "btn btn-success btn-block" %>

<% end %>
